.filme-info{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    background-color: black;
    
}
.filme-info h1{
    margin: 14px 0;
    color:#fff
}
.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}
.filme-info h3{
    margin-top: 14px;
    color: #fff;
}
.filme-info span{
    margin: 8px 0;
    color: #fff;
}
.filme-info strong{
    color: #fff;
}

.button button{
    margin-top: 14px;
    align-self: start;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    margin: 10px;
    margin-left: 0px;
}

.button a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
.button a:hover{
    color: #fff;
}
.button button:hover{
    background-color: brown;
    color: #fff;
}